body {
  background-image: linear-gradient(
    to right,
    rgb(98, 78, 111),
    rgb(89, 38, 112)
  );
}

/* body div.container {
  background-color: purple;
} */

/* .btn-warning {
  width: 10rem;
} */

button {
  height: 3.2rem;
  width: 100%;
}

.firstarea {
  background-color: rgb(141, 101, 141);
}
.secondarea {
  /* background-color: cornflowerblue; */
  line-height: 2rem;
}
.notselect {
  background-color: aqua;
  text-decoration: none;
}
.select {
  text-decoration: line-through;
  background-color: #ffca2c;
}
.secondarea p {
  margin-top: 0.5rem;
  padding-left: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.secondarea p:hover {
  transform: scale(1.03);
  box-shadow: 3px 3px 5px rgb(152, 137, 137);
}
