body {
  background-image: linear-gradient(
    to right,
    rgb(98, 78, 111),
    rgb(89, 38, 112)
  );
}

/* body div.container {
  background-color: purple;
} */

/* .btn-warning {
  width: 10rem;
} */

button {
  height: 3.2rem;
  width: 100%;
}

.firstarea {
  background-color: rgb(141, 101, 141);
}
.secondarea {
  /* background-color: cornflowerblue; */
  line-height: 2rem;
}
.notselect {
  background-color: aqua;
  margin-top: 0.5rem;
  padding-left: 1rem;
  text-decoration: none;
}
.select {
  text-decoration: line-through;
  background-color: #ffca2c;
  margin-top: 0.5rem;
  padding-left: 1rem;
}
